node_modules
dist
.DS_Store
.env
*.tsbuildinfo
apps/pwa/dist
apps/pwa/vite.config.js
apps/pwa/vite.config.d.ts
apps/wechat-miniprogram/project.private.config.json
__pycache__
.pytest_cache
*.pyc
indio/indio-v2.db
indio/users/
indio/cache/tts/*
!indio/cache/tts/.gitkeep
